@use "../../styles/partials/index" as *;
@use "../../styles/partials/breakpoints" as breakpoints;

.sidebar {
	&__list-container {
		display: flex;
		flex-direction: column;
		padding: 0 1.6rem;
		width: 100%;
		@include divide-border-top;

		@include breakpoints.medium {
			margin: 0 3.6rem;
			padding: 0;
		}
	}

	&__list-title {
		color: $color-primary-inactive;
		@include mobile-text-section-header;
		padding: 1rem 0;

		@include breakpoints.medium {
			@include tablet-desk-text-section-header;
			padding-top: 2rem;
		}
	}

	&__link {
		text-decoration: none;
	}

	&__container {
		display: flex;
		padding: 1rem 0;
		cursor: pointer;
	}

	&__img {
		width: 10rem;
		height: 6rem;
		border-radius: 4px;
		background-color: $color-secondary-outline;
		transition: 0.5s ease;
		object-fit: cover;

		&:hover {
			transform: scale(1.1);
		}

		@include breakpoints.medium {
			height: 7rem;
			width: 11.5rem;
		}
	}

	&__desc {
		padding-left: 1rem;
		width: 18rem;
		color: $color-secondary-dark;
		text-decoration: none;
		display: flex;
		flex-direction: column;
		justify-content: space-between;

		&:hover {
			background-color: $color-secondary-outline;
			border-radius: 4px;
		}

		@include breakpoints.medium {
			width: 20.3rem;
			padding-left: 2rem;
		}
		@include breakpoints.large {
			width: 54%;
		}
	}

	&__title {
		@include mobile-text-subheader-footer;

		@include breakpoints.medium {
			@include tablet-desk-text-subheader;
		}
	}
	&__channel {
		@include mobile-text-body-footer;

		@include breakpoints.medium {
			@include tablet-desk-text-body;
		}
	}
}
