@use "../../styles/partials/breakpoints" as breakpoints;
@use "../../styles/partials/index" as *;

::placeholder {
	color: $color-primary-dark;
}

.comment {
	padding: 0 1.6rem;
	@include breakpoints.medium {
		@include tablet-desk-text-section-header;
		padding: 0 3.6rem;
	}

	@include breakpoints.large {
		padding-right: 0;
		padding-left: 0;
	}

	&__title {
		color: $color-primary-dark;
		@include mobile-text-section-header;
		padding-bottom: 1.6rem;

		@include breakpoints.medium {
			@include tablet-desk-text-subheader;
		}
	}

	&__top-container {
		display: flex;
	}

	&__icon {
		max-width: 3.6rem;
		max-height: 3.6rem;
		object-position: left;
		border-radius: 50%;
		object-fit: cover;
		margin-top: 3.4rem;

		@include breakpoints.medium {
			width: 4.8rem;
			height: 4.8rem;
			margin-top: 2.8rem;
		}
	}

	&__form {
		width: 100%;
		padding-left: 1.6rem;
		text-align: right;
		padding-bottom: 2rem;
		position: relative;

		@include breakpoints.medium {
			display: flex;
			justify-content: space-between;
			position: relative;
			padding-left: 3rem;
		}
		@include breakpoints.large {
			padding-right: 2rem;
			padding-left: 2.5rem;
		}
	}

	&__list {
		display: flex;
		flex-direction: column;
		justify-content: center;

		&-container {
			@include breakpoints.medium {
				width: 70%;
			}
			@include breakpoints.large {
				width: 68%;
			}
		}
	}

	&__form-label {
		color: $color-primary-inactive;
		font-weight: 700;
		@include label-padding;
		@include mobile-text-labels-buttons;
		text-align: left;
		letter-spacing: 0.05rem;

		@include breakpoints.medium {
			@include tablet-desk-text-labels-buttons;
		}
	}

	&__form-input {
		@include mobile-form-styles;

		@include breakpoints.medium {
			padding: 0 1.6rem;
			min-height: 4rem;
			padding-top: 1rem;
		}

		&:focus {
			@include form-field-border--active;
		}

		&--error {
			border: 1px solid #d22d2d;
		}

		&--comment {
			height: 8rem;
			min-width: 24rem;
			font-family: inherit;
			font-weight: 500;
			resize: none;

			@include breakpoints.medium {
				height: 4rem;
			}

			&--error {
				border: 1px solid #d22d2d;
			}
		}
	}

	&__button {
		width: inherit;
		margin: 2rem 0;
		background-color: $color-primary-blue;
		color: $color-primary-light;
		border: none;
		border-radius: 4px;
		height: 40px;
		@include mobile-text-labels-buttons;
		position: relative;

		@include breakpoints.medium {
			margin: 0;
			padding: 0 5.2rem;
			width: auto;
			@include tablet-desk-text-labels-buttons;
			align-self: flex-end;
		}

		&--plus {
			position: absolute;
			left: 1rem;
			top: 1rem;
		}

		&:hover {
			background-color: $color-secondary-blue;
			cursor: pointer;
		}
	}
}

.newComment {
	display: flex;
	padding: 1.6rem 0;
	@include divide-border-top;

	@include breakpoints.medium {
		justify-content: space-between;
	}

	@include breakpoints.large {
		padding-right: 2rem;
		padding: 2.4rem 0;
		justify-content: initial;
	}

	&__icon {
		width: 36px;
		height: 36px;
		object-position: left;
		border-radius: 50%;
		object-fit: cover;
		background-color: $color-secondary-outline;
	}

	&__list-container {
		padding-left: 1.6rem;
		width: 93%;

		@include breakpoints.large {
			padding-left: 2.5rem;
			padding-right: 1rem;
		}
	}

	&__list {
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	&__top {
		display: flex;
		justify-content: space-between;
		align-items: center;

		@include breakpoints.medium {
			padding-bottom: 0.5rem;
		}
	}

	&__name {
		@include mobile-text-subheader-footer;
	}

	&__date {
		color: $color-secondary-outline;
		@include mobile-text-body-footer;
	}

	&__comment {
		@include mobile-text-body-footer;

		@include breakpoints.medium {
			@include tablet-desk-text-body;
		}
		@include breakpoints.large {
			padding-right: 0.5rem;
			letter-spacing: 0.03rem;
		}
	}

	&__trashcan {
		text-align: right;
		padding-right: 1rem;
	}
}

.text__error {
	color: rgb(255, 45, 45);
	font-size: 1.6rem;
	font-weight: 500;
	display: block;
	position: absolute;
	bottom: 0;

	@include breakpoints.medium {
		display: block;
		position: absolute;
		bottom: 0;
	}
}
